
        body{
            background-color:orangered;
        }
        
     
       .card{
        width: 1000px;
        height: 520px;
        display: flex;
        margin-top: 100px;
        margin-left: 200px;
        border-radius: 20px;
        
       }
       img{
        position: relative;
        display: flex;
        flex-grow:1;
        align-items: flex-end;
        width: 100px;
        height: 500px;
        padding:10px;
        border-radius:40px;
      
       }
       img:hover {
       transition:100ms ease;   
        width: 300px;
          }
    
    